.card-list {
    width: 85vw;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px; */
  }
  .flex-gap > div {
    margin: 6px;
  }